* {
  overflow-x: hidden;
}

/*Image slider*/
/*Home Page Welcome section*/
.about-section {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}

/*left column*/
.about-section-left {
  padding: 30px;
  width: 40%;
  margin: 2%;
  text-align: justify;
  background-color: rgb(207, 158, 207);
  border-radius: 20px;
}

/*Right Column*/
.about-section-right {
  width: 40%;
  margin-left: 20%;

}

#about-section-img {
  margin: 2%;
  border-radius: 6px;
  width: 340px;
  height: 260px;
}

.notice-section {
  display: flex;
  margin-bottom: 2%;

}

/*Announcment left Column*/
.notice-left {
  width: 30%;
  margin: 2%;
  text-align: center;
  border-radius: 15px;
  padding: 30px 3px 30px 30px;
  background-color: purple;
  color: white;
  height: 330px;

  position: relative;
}

.notice-link {
  text-decoration: none;
  color: white;
}

.notice-link:hover {
  cursor: pointer;
  color: aqua;
}

.notice-left ul {
  text-align: left;
  overflow-y: scroll;
  max-height: 180px;
  list-style: none;
  padding: 4px;
}

.notice-left li {
  margin: 14px 0;

}

/*Announcment Right Column*/
.notice-right {
  margin-left: 10%;

  /* background-color: rosybrown; */
  padding: 20px;
  width: 55%;
  text-align: center;
}

/*IIC Impact Section*/
/*student faculty numbers*/
.st-ut-num {
  margin: 2%;
}

.st-num {
  background-color: antiquewhite;
  padding: 8px;
  font-size: 26px;
  border-radius: 6px;
  border: 2px solid blue;
}

.ut-num {
  background-color: red;
  padding: 8px;
  font-size: 26px;
  border-radius: 6px;
  border: 2px solid red;


}

/*progrss table*/
.impact {
  border-radius: 8px;
  margin-left: 25%;
  background-color: rgb(207, 158, 207);
  padding: 30px;

}

/*   */

li {
  list-style: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#soci {
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}

#untext {
  text-decoration: none;
}

.text-uppercase {
  color: blue;
}

/*Media query*/
@media screen and (max-width: 675px) {

  .about-section {
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
  }

  /*left column*/
  .about-section-left {
    padding: 30px;
    width: 80%;
    margin-left: 8%;
    background-color: rgb(207, 158, 207);
    border-radius: 20px;
  }

  /*Right Column*/
  .about-section-right {
    padding: 0;
    margin: 0;
    width: 100%;
    float: none;
  }

  #about-section-img {
    border-radius: 6px;
    width: 80%;
    height: 300px;
    margin: 8%;
  }

  .notice-section {
    display: inline-block;
    margin-bottom: 2%;

  }

  .notice-left {
    width: 80%;
    margin: 8%;
    text-align: center;
    border-radius: 15px;
    padding: 30px 3px 30px 30px;
    background-color: purple;
    color: white;
    height: 300px;
    position: relative;
  }

  .notice-right {
    margin: 0;

    /* background-color: rosybrown; */
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .st-num {
    background-color: antiquewhite;
    padding: 8px;
    font-size: 22px;
    border-radius: 6px;
    border: 2px solid brown;
  }

  .ut-num {
    background-color: red;
    padding: 8px;
    font-size: 22px;
    border-radius: 6px;
    border: 2px solid red;


  }

  /*progrss table*/
  .impact {
    background-color: rgb(207, 158, 207);
    border-radius: 8px;
    /* margin-left: 25%; */
    margin: 10%;
    padding: 30px;
  }

}