{% extends 'home/base.html' %}

{% block title %} Student Core Team{% endblock title %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/Experts.css' %}">
<style>

</style>
{% endblock css %}

{% block body %}

   <div class="my-4">
        <h2 class="text-center my-4">IIC Student Core Team</h2>
        <div class="teamContainer">
            
        </div>
    </div>
  
{% endblock body %}

{% block script %}
    <script src="{% static 'js/iicStudent.js' %}"></script>
{% endblock script %}