{% extends 'home/base.html' %}

{% block title %} Innovation Cell{% endblock title %}
{% load static %}
{% block css %}

<style>

</style>
{% endblock css %}

{% block body %}

    <h1 style="padding:4% 2%;text-align: center;">Welcome to <span class="title-color">
    <span class="text-slider"></span> 
   </span></h1>
  <div class="about-section">

    <div class="about-section-left">
      <p>It was a Business Plan competition where a platform was provided to students to showcase their business models along with the innovation they have made to the investors and eminent personalities from the industry.To create a vibrant local innovation ecosystem.Develop better Cognitive Ability for Technology Students. To encourage, inspire and nurture young students by supporting them to work with new ideas and transform them into prototypes while they are informative years.</p>
    </div>
    <div class="about-section-right">
      <img id="about-section-img" src="{% static 'images/img/university.jpg' %}" alt="IIC Image">
    </div>
  </div>
  <hr>
 
 
  <h1 style="text-align: center;">Incubation Faculty Cordinator</h1>
<div style="display: flex;justify-content: space-around; flex-wrap: wrap;">
  <div class="card" style="width: 18rem;margin:2%;">
    <img src="{% static 'images/img/sheliza_mam.jpeg' %}" class="card-img-top" alt="..." style="width:286px;height:320px;">
    <div class="card-body">
      <h5 class="card-title">Ms. Rashmi Chawla</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Know More</a>
    </div>
  </div>
  </div>
  <hr>
  <h1 style="text-align: center;">Incubation Member Cordinator</h1>

  <div style="display: flex;justify-content: space-around; flex-wrap: wrap;" class="p-3 m-2">
    
    <div class="card card-width border-0">
        <div class="card-body p-0 card-border">
          <img src="{% static 'images/img/sheliza_mam.jpeg' %}" class="card-img-top" alt="...">
          <div class="p-4">
              <h5 class="card-title">Dr. Poonam Garg<</h5>
              
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                  <a href="#" class="btn btn-primary">Know More</a>
          </div>
      </div>
    </div>
    <div class="card card-width border-0"  >
        <div class="card-body p-0 card-border">
          <img src="{% static 'images/img/sheliza_mam.jpeg' %}" class="card-img-top" alt="...">
          <div class="p-4">
        <h5 class="card-title">Ms. Jyotsana Chawla</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Know More</a>
      </div>
    </div>
    </div>
    <div class="card card-width border-0">
        <div class="card-body p-0 card-border">
          <img src="{% static 'images/img/sheliza_mam.jpeg' %}" class="card-img-top" alt="...">
          <div class="p-4">
        <h5 class="card-title">Dr. Somvir</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
    <div class="card card-width border-0">
        <div class="card-body p-0 card-border">
          <img src="{% static 'images/img/sheliza_mam.jpeg' %}" class="card-img-top" alt="..." >
          <div class="p-4">
              <h5 class="card-title">Dr. Anurag</h5>
              
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
        </div>
    </div>
  </div>
  <hr>

  
 <h1 class="text-center">Events</h1>
 <hr>
  
  
{% endblock body %}

{% block script %}
<script src="{% static 'js/typed.js-master/lib/typed.min.js' %} "> </script>     
<script> 
      var typed = new Typed(".text-slider", { 
          strings: [" Innovation Cell"], 
          typeSpeed: 50, 
          loop: true, 
          backDelay: 900, 
          backSpeed: 30, 
      }); 
  
</script> 
{% endblock script %}